@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

/* General */
body {
    font-family: 'Lato', sans-serif;
    color: #718096;
}

/* Container */
.container {
    max-width: 920px;
    padding: 24px;
    margin: 0 auto;
}

/* Table */
table {
    width: 100%;
    margin-bottom: 24px;
}

th {
    padding: 10px 20px;
    background-color: #008489;
    color: white;
    text-align: left;
}

td {
    padding: 10px 20px;
    border: 1px solid #008489;
}

/* Form */
form {
    max-width: 440px;
    width: 100%;
    margin-top: 2rem;
}

/* Form Row */
.row {
    display: flex;
    flex-direction: column;
}

/* Form Row Buttons */
.row-buttons {
    display: flex;
    justify-content: flex-end;
}

/* Form Label */
label {
    width: 100%;
    display: inline-block;
    margin-bottom: 0.5rem;
    color: #545353;
}

/* Form Input */
input {
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border: none;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    color: #6a6a6a;
    font-family: 'Lato', sans-serif;
}

/* Form Button */
button {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 1rem 0;
    color: white;
    background-color: #008489;
    border: #008489 solid 1px;
    cursor: pointer;
}
